.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: #000000;
    font-size: 24px;
    text-align: right;
    color: #fffafa;
    word-spacing: 20px;
    font-family: 'Bowlby One';
    margin-right: 24px;
    
}

nav {
    width: 100%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroimg {
    height: 600px;
    padding: 25px
}



img {
    float: right;
    height: 594px;
    width: 475px;
    background-position: 816;
}

.name {
    font-size: 48px;
    font-family: 'Bowlby One';
    font-weight: bold;
    background-position: 126;
    text-decoration: underline;
}


h2 {
    font-size: 36px;
    font-family: 'Andika';
    background-position-x: 126;
}

p {
    font-size: 20px;
    font-family: 'Andika';
    background-position-x: 126;
}

footer {
    background-color: black;
    
   
}  

ul {
    vertical-align: top;
    display: inline-block;
}

.footer {
    background-color: black;
  }
  
  .a {
    color: #fafafa;
    font-family: 'Andika';
    display: inline-block;
    font-size: 20px;
    horizontal-align: top;
    
  }
  
  .connect {
    color: #fafafa;
    font-family: 'Bowlby One';
    font-size: 48px;
    display: inline-block;
  }
  



#button {
    background-color: black;
    color: #fffafa;
    border: none;
    padding: 15px 15px;
    text-align: center;
    font-family: 'Bowlby One';
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
   
  }